<div class="apod">
	<div class="apod__header">
		<h1 class="apod__heading" style="margin-bottom: 100px;">Astronomy Picture of the Day</h1>
		<form (ngSubmit)="submitForm(form)" #form="ngForm" class="apod__form">
			<mat-form-field appearance="fill">
				<mat-label>Enter a date range</mat-label>
				<mat-date-range-input ngModelGroup="dateRange" #dateRange="ngModelGroup" [rangePicker]="picker">
				  <input matStartDate ngModel name="startDate" placeholder="Start date">
				  <input matEndDate ngModel name="endDate" placeholder="End date">
				</mat-date-range-input>
				<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
				<mat-date-range-picker #picker></mat-date-range-picker>
			</mat-form-field>
			<button mat-raised-button color="primary" type="submit" class="apod__form-btn">Seacrh</button>
		</form>
	</div>
	<div style="margin: 50px 0px;" *ngIf="isLoading">
		<app-loader></app-loader>
	</div>
	<div *ngIf="!isLoading">
		<div class="apod__cards" style="margin-top: 100px;" *ngFor="let item of data">
			<app-apod-card [data]="item"></app-apod-card>
		</div>
	</div>
</div>