.not-found-page{
	display: flex;
    flex-direction: column;
    align-items: center;
    height: 525px;
    justify-content: space-evenly;

	&__heading{
		color: white;
	}

	&__text{
		color: white;

	}
}