.nav-menu{
	background-color: rgba(250, 235, 215, 0.39);
	display: flex;
    justify-content: space-between;
	height: 100px;
	padding: 0px 100px;
	align-items: center;
	background: linear-gradient(rgb(109, 109, 110), 10%, rgb(29, 29, 29));

	&__logo{
		height: 50px;
		padding: 10px 0px;
	}

	&__items{
		display: flex;
		justify-content: space-around;
		align-items: center;
	}

	&__item{
		margin-left: 20px;
		color: white;
	}
}